In [9]:
import pandas as pd
import numpy as np

In [41]:
df = pd.DataFrame({'B': [0, 1, 2, np.nan, 4],
                  'C': [-1, 0, 1, 2, 3]},
                 index = [pd.Timestamp('20130101 09:00:00'),
                          pd.Timestamp('20130101 09:00:02'),
                          pd.Timestamp('20130101 09:00:03'),
                          pd.Timestamp('20130101 09:00:05'),
                          pd.Timestamp('20130101 09:00:06')])
df

                       B  C
2013-01-01 09:00:00  0.0 -1
2013-01-01 09:00:02  1.0  0
2013-01-01 09:00:03  2.0  1
2013-01-01 09:00:05  NaN  2
2013-01-01 09:00:06  4.0  3

In [42]:
def sliding_window(data, window_size, step_size):
    data = pd.rolling_window(data, window_size)
    data = data[step_size - 1 :: step_size]
    print( data)

In [43]:
sliding_window(df, 2,1)

                       B    C
2013-01-01 09:00:00  NaN  NaN
2013-01-01 09:00:02  0.5 -0.5
2013-01-01 09:00:03  1.5  0.5
2013-01-01 09:00:05  NaN  1.5
2013-01-01 09:00:06  NaN  2.5

/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(axis=0,window=2,center=False).mean()

In [57]:
def f(x):
    print("- ",x, x.shape)
    return(np.sum(x))

In [67]:
df.resample('4s').apply(f)

-  2013-01-01 09:00:00    0.0
2013-01-01 09:00:02    1.0
2013-01-01 09:00:03    2.0
Name: B, dtype: float64 (3,)
-  2013-01-01 09:00:05    NaN
2013-01-01 09:00:06    4.0
Name: B, dtype: float64 (2,)
-  2013-01-01 09:00:00   -1
2013-01-01 09:00:02    0
2013-01-01 09:00:03    1
Name: C, dtype: int64 (3,)
-  2013-01-01 09:00:05    2
2013-01-01 09:00:06    3
Name: C, dtype: int64 (2,)

                       B  C
2013-01-01 09:00:00  3.0  0
2013-01-01 09:00:04  4.0  5

In [62]:
df

                       B  C
2013-01-01 09:00:00  0.0 -1
2013-01-01 09:00:02  1.0  0
2013-01-01 09:00:03  2.0  1
2013-01-01 09:00:05  NaN  2
2013-01-01 09:00:06  4.0  3